/* General Styles */
html, body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
}

main {
    background-image: url("./assets/BackgroundRocks.jpg");
    background-size: 2175px;
    background-position: 50% -50px;
    background-repeat: no-repeat;
}

main section {
    color: rgb(214, 212, 212);
    padding-top: 110px;
    font-family: "Montserrat", sans-serif;
}

main h1 {
    margin: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 40%;
    border: 1px solid whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 65px;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    height: 140px;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar i {
    color: white;
}

.header {
    border-bottom: 2px solid rgb(58, 58, 58);
    position: fixed;
    width: 100vw;
    height: 90px;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(rgb(20, 20, 20), rgb(7, 7, 7));
    color: whitesmoke;
    min-width: 480px;
}

.header-me {
    display: flex;
    align-items: center;
    position: fixed;
    left: 15%;
    top: 5px;
}

.zac-img {
    border-radius: 50%;
    border: 2px solid whitesmoke;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-image: url("./assets/ZacWebb.jpg");
    background-size: 160%;
    background-position: center;
    background-repeat: no-repeat;
}

.header h1 {
    font-weight: 400;
}

.header-links {
    position: fixed;
    right: 15%;
    top: 35px;
}

.header-links a {
    margin-left: 20px;
    text-decoration: none;
    color: whitesmoke;
    transition: font-size 0.2s ease;
    font-size: 1.3rem;
}

.header-links a:hover {
    text-shadow: 0 2px 10px rgb(190, 190, 190);
    color: white;
    font-size: 1.4rem;
}

.home-container {
    height: 700px;
    padding-top: 100px;
    text-align: center;
}

.home-container h1,
.projects-container h1 {
    font-weight: 400;
    font-size: 4rem;
}

.home-container p {
    font-size: 1.5rem;
}

.my-name {
    color: rgb(40, 255, 219);
}

.projects-container {
    height: 900px;
    text-align: center;
    border: 1px solid white;
    width: 50%;
    margin: auto;
    padding: 30px 0;
    background-color: rgba(39, 39, 39, 0.7);
    min-width: 1000px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 10px;
}

.projects-container h1 {
    color: white;
    text-shadow: 0 0 5px rgb(54, 54, 54);
}

.projects-intro {
    width: 60%;
    margin: 10px auto;
    font-size: 1.15rem;
}

.project-links {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.project-description {
    width: 55%;
    height: 200px;
    font-size: 1.2rem;
    border-bottom: 1px solid whitesmoke;
}

.project-description a,
.about-container a {
    text-decoration: none;
    color: rgb(240, 240, 240);
    border: 1px solid whitesmoke;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgba(44, 44, 44, 0.9);
    font-weight: 600;
    transition: box-shadow 0.3s ease,
                color 0.3s ease;
}

.project-description a:hover,
.about-container a:hover,
.sidebar i:hover {
    box-shadow: 3px 3px 7px rgb(0, 0, 0);
    color: rgb(40, 255, 219);
    border-color: rgb(40, 255, 219);
}

.projects-intro a {
    color: whitesmoke;
}

.sidebar i {
    transition: color 0.3s ease;
}

.project-img {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.about-container {
    border-top: 45px solid rgb(10, 10, 10);
    padding: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.about-container h1 {
    font-size: 2.5rem;
}

.about-description p {
    line-height: 30px;
    font-size: larger;
}

.about-description h1 {
    border-bottom: 1px solid white;
    width: 205px;
    padding-bottom: 2px;
}

.about-me,
.certifications {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.certifications h1 {
    margin-bottom: 20px;
}

.certifications {
    display: flex;
    flex-direction: column;
}

.certifications a {
    width: 400px;
    text-align: center;
    font-size: 1.2rem;
}

.about-certifications {
    margin-bottom: 40px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 400px;
}

.skills p {
    border: 1px solid whitesmoke;
    margin-top: 0;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    flex-grow: 1;
    box-sizing: border-box;
    text-align: center;
}

.contact-container {
    height: 200px;
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding-top: 50px;
}

.contact-container h1 {
    font-size: 3rem;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 200px;
    margin: auto;
}

.contact-container p {
    margin-top: 30px;
    font-size: 1.2rem;
}

.contact-container a,
.contact-email {
    color: rgb(40, 255, 219);
}

.about-container h1,
.contact-container h1 {
    color: whitesmoke;
}

.copied-notification {
    position: relative;
    bottom: -25px;
    right: 60px;
    display: none;
}

/* Media Queries */
@media (max-width: 600px) {
    .container {
        width: 100vw;
        max-width: 100%;
        overflow-x: hidden;
    }

    main {
        background-image: url("./assets/BackgroundRocks.jpg");
        background-size: 1000px;
        background-position: 50% 90px;
        background-repeat: no-repeat;
    }
    
    .header-me {
        text-align: center;
    }

    .header {
        overflow-x: hidden;
        width: 100px;
        max-width: 430px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .header-links a {
        display: none;
    }

    .home-container h1 {
        font-size: 2rem;
    }
    
    .home-container {
        height: 350px;
        padding-top: 50px;
        text-align: center;
    }

    .projects-container {
        width: 80%;
        min-width: 100px;
        padding: 15px 0;
    }

    .projects-container h1{
        font-size: 2.75rem;
    }
    
    .projects-container p {
        font-size: 1rem;
    }

    .project-description a{
        font-weight: 300;
    }

    .project {
        width: 100%;
        padding: 0;
    }

    .projects-intro {
        width: 80%;
    }

    .project {
        flex-direction: column;
    }

    .project-description {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 20px;
        height: 150px;
    }

    .project-img {
        width: 200px;
        height: 125px;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .about-container {
        flex-direction: column;
    }

    .about-me {
        width: 100%;
    }

    .certifications {
        width: 100%;
    }

    .about-certifications a {
        font-size: 0.9rem;
    }
}
